img {
    margin: 0 auto;
    padding: 0;
    max-width:100%;
    max-height:100%;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.col-md-6 {
    margin: 0 auto;
    padding: 0;
}
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .col-md-6:hover img {
    opacity: 0.1;
  }
  
  .col-md-6:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }

  .homeHeader {
      text-align: center;
      margin: 20px;
      padding-top: 100px;
  }

  h3 {
      text-align: center;
      margin: 20px;
      padding-top: 100px;
  }

  p {
      text-align: center;
  }

  #about {
      padding-left: 20px;
  }

  #quick {
      padding-top: 20px;
  }