#about {
    padding: 0 19px;
}

.nav-item {
    text-align: right;
}

.card {
    margin: 15px 0px;
}

#titlehead {
    font-size: 25px;
}

#foot {
    color: white;
}

#henrypic {
    margin-bottom: 20px;
}

.contact {
    margin-top: 30px;
    margin-bottom: 160px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row; 
    margin: 20px;
}

.flex img {
    margin: 0px 30px 10px 0;
    width: 300px;
    height: 200px;
  }


  .text-block {
    position: relative; 
    width: 300px; 
    color: #ffffff;
    background-color: #3e4242;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    top: -50px;
}
