#about {
    padding: 0 19px;
}

.nav-item {
    text-align: right;
}

.card {
    margin: 15px 0px;
}

#titlehead {
    font-size: 25px;
}

#foot {
    color: white;
}

#henrypic {
    margin-bottom: 20px;
}