#portfolio {
    padding: 10px 19px;
    margin-top: 10px;
}

#about {
    padding: 10px 19px;
    margin: 10px 0px;
}

.nav-item {
    text-align: right;
}

.card {
    margin: 15px 0px;
}

#titlehead {
    font-size: 25px;
}

#henrypic {
    margin-bottom: 20px;
}

.contact {
    margin-top: 30px;
    margin-bottom: 160px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    margin: 20px;
}

.flex img {
    margin: 0px 30px 10px 0;
    width: 300px;
    height: 200px;
}

footer {
    color: white;
}